.messageDiv{
  width:55%;
  float:left;
  background-color:lightblue;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.myMessage{
  width:55%;
  float:right;
  background-color:#007bff;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.myMessage > .messageDate{
    color:#F5F5DC;
}

.message{
  display:inline-block;
  margin-bottom: 2px;
  min-width: 95%;
}

.messageDate{
  float: right;
  font-size: 0.7em;
  color: gray;
  margin-top:0px;
  margin-bottom:0px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
}
